<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.lollol23.hiyo.post.DAO.PostDAO">
 	<insert id="insertPost" parameterType="map">
 		INSERT INTO `post`
 		(
 			`userId`
 			,`userName`
 			,`content`
 			,`imagePath`
 			,`createdAt`
 			,`updatedAt`	
 		) VALUES (
 			#{userId}
 			,#{userName}
 			,#{content}
 			,#{imagePath}
 			,now()
 			,now()
 		)
 	</insert>
 	
 	<select id="selectPost" parameterType="int" resultType="com.lollol23.hiyo.post.model.Post">
 		SELECT
 			`id`
 			, `userId`
 			, `userName`
 			, `content`
 			, `imagePath`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`id`= #{id}
 	</select>
 	
 	<select id="selectPostList" parameterType="int" resultType="com.lollol23.hiyo.post.model.Post">
 		SELECT
 			`id`
 			, `userId`
 			, `userName`
 			, `content`
 			, `imagePath`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`id`= #{id}
 		ORDER BY `id` DESC
 	</select>
 	
 	<delete id="deletePost" parameterType="map">
 		DELETE FROM `post`
 		WHERE
 			`id` = #{id}
 			AND `userId` = #{userId}	
 	</delete>
 </mapper>