@charset "UTF-8";

#wrap {
	width:1200px;
	height:900px;
	margin:auto;
}

header {
	background-color:#06A2DB;
	height:80px;
	position:fixed;
	top:0;
}

.header-logo-box {
	width:200px;
	height:80px;
}

.header-serchbar-box {
	width:700px;
	height:80px;
}

.header-icon-box {
	width:300px;
	height:80px;
}

.btn-color {
	color:white;
	background-color:#06A2DB;
}

.header-icons {
	font-size:38px;
	color:white;
}

footer {
	color:#d2d2d2;
	height:80px;
}