@charset "UTF-8";

#wrap {
	width:1200px;
	height:900px;
	margin:auto;
}

header {
	background-color:#06A2DB;;
	height:80px;
}

.btn-color {
	color:white;
	background-color:#06A2DB;
}

footer {
	color:#d2d2d2;
	height:80px;
}