@charset "UTF-8";

.content {
	height:700px;
}

#logo-img {
	width:300px;
	height:300px;
}

.content-left-box {
	height:600px;
	width:500px;
}

.content-right-box {
	height:600px;
	width:500px;
}

.login-box {
	width:400px;
	height:420px;
	border:1px solid #d2d2d2;
}

.login-small-box {
	width:400px;
	height:50px;
	border:1px solid #d2d2d2;
}

.input-style {
	width:250px;
	
}