@charset "UTF-8";

.timeline-section {
	padding-top:80px;
}
.timeLine-box {
	width:800px;
}
.timeline-post-box {
	width:790px;
	height:700px;
	border:1px solid #d2d2d2;
}
.post-name-box {
	height:50px;
}
.fixed-box {
	width:400px;
	height:600px;
}

.create-div {
	width:80px;
	height:80px;
	border-radius:40px;
	background-color:#06A2DB;
	position: fixed;
	right: 10px;
	bottom: 10px;
}

#create-post-box {
	width:790px;
	height:600px;
	border:1px solid #d2d2d2;
}

#preview-img-box {
	width:700px;
	height:300px;
	background-color:#d2d2d2;
}
.img-box {
	width:790px;
	height:300px;
}
.like-box {
	 height:50px;
}
.bi-heart {
	font-size:28px;
}
.comment-box {
	height:200px;
}
.comment-input-box {
	height:50px;
}
.comment-input {
	height:50px;
}
.content-box {
	height:50px;
}
.content-box-userName {
	width:60px;
}
.create-box-in-box2 {
	width:700px;
}

.create-box-in-box3 {
	width:700px;
}